<article id="weather" class="dashboard">
  <h1 class="dashboard__heading">Weather</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th class="td--right">Wind Bearing</th>
        <th class="td--right">Wind Speed (Knots)</th>
        <th class="td--right">Water Speed (Knots)</th>
        <th class="td--right">Water Temperature (&deg;C)</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |row| %>
        <tr>
          <td><%=row.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
          <td class="td--right"><%=row.winddir%>&deg;</td>
          <td class="td--right"><%=row.windspeed%></td>
          <td class="td--right"><%=row.waterspeed%></td>
          <td class="td--right"><%=row.watertemp%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
